---

---


<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
</head>
<body>
<h1>this is my first astro project :>> About astro</h1>
<div>
    <p>i am who i am and i am not yours</p>
    <a href="/">back to home</a>
</div>
</body>
</html>
